@model UserProfile
@{

    ViewData["Title"] = "Habilidades";
}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 ladoA text-center h-100">
           
            
            
        </div>
        <div class="col-10 ladoB  p-5 h-100">

            <div class="  d-flex align-items-center justify-content-center">
                <p class=" text-white text-left ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim tellus purus, ut commodo neque mattis lacinia. Duis sem diam,
                    tincidunt tristique neque nec, interdum facilisis dui. Vestibulum eleifend massa quis ante tempus posuere. Ut nec efficitur dolor.
                    Phasellus lectus lacus, rutrum vel mollis in, pretium ac magna. Morbi ornare nisl in urna commodo, at aliquet nibh cursus.
                    Morbi suscipit neque nec lectus rutrum euismod
                </p>

            </div>
        </div>

    </div>
</div>




<style>
   

    .ladoA {
       
          background-color: black;
    }

 
  


    .ladoB {
      
    }

  
</style>

