
    <div class="courseitem" style="width:50%">
        
        <img src="https://baltaio.blob.core.windows.net/static/images/backgrounds/certificado.png" style="width:100%" ></img>
       

    </div>


<style>
    .courseitem{
        box-shadow: .25rem .25rem .25rem rgba(51,51,51,.4)
    }
   
</style>