<div class= "card-base">
    <div class="card-body">
        <h2>Udemy</h2>
        <img src="https://baltaio.blob.core.windows.net/static/images/backgrounds/certificado.png" class="w-100"></img>
        <p>Nome do curso</p>
        <span class="dataemit">12 de Maio de 2022</span>

    </div>
</div>

<style>
.card-base{
    width:300px;
    height:350px;
    background-color:white;
    border-radius:20px;
    box-shadow: .25rem .25rem .25rem rgba(1,1,1,.42);
    margin-right: 20px;
    color:white;
   
}
.card-body{
     height:350px;
    background-color: #9501aa;
    background-image: linear-gradient(16deg, #9501aa 0%, #784BA0 45%, #1633a6 100%);    
    border-radius:20px;
    margin-top: -20px;
    box-shadow: .25rem .25rem .25rem rgba(1,1,1,.3);
    position: relative;
}
.dataemit{
    background-color:#EA008E;
    padding:3px;
    border-radius:50px;
    padding:9px;
    position:absolute;
    right: 16px;
    bottom:16px;
   
</style>