@model ListCoursesViewModel
<div>
    <h3>Aqui você encontra uma lista dos meus cursos mais relevantes.</h3>

    @foreach (var course in Model.coursesList)
    {
        <div>
            <h1>@course.Title</h1>
        </div>
    }
</div>

