@model UserProfile
@{

    ViewData["Title"] = "Home Page";
}

<div class=" text-center">
    <img class="round-30 j-h-30"
    src="~/images/fotoperfil.jpeg" alt="Foto de Pefil"></img>
    <h1 class="display-4">Bem Vindo ao meu espaço!</h1>
    <h3>Aqui você terá a oportunidade de conhecer um pouquinho de mim.</h3>
    <div>
        <p class="d-flex align-self-start">Eu me chamo:</p>
    <h1>@Model.Name</h1>
    </div>
    <div class="container-fluid tarja">
        <p>textre</p>
    </div>
    

    
    
</div>

<style>
    .tarja{
         background-color: #9501aa;
    background-image: linear-gradient(16deg, #9501aa 0%, #784BA0 45%, #1633a6 100%);  
    height:300px;
    }
</style>
